@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #fff;
}

@theme {
  --color-custom: #a238ff;
  --color-custom-dark: #222323;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-fira-sans);
}

@layer components {
  .custom-background::before {
    content: "";
    z-index: -1;
    background: url(/images/svg/vector-1.svg) center / cover no-repeat;
    width: 141%;
    height: 66%;
    display: block;
    position: absolute;
    top: 65%;
    right: 10%;
  }

  .custom-background::after {
    content: "";
    z-index: -2;
    background: url(/images/svg/vector-2.svg) center / cover no-repeat;
    width: 170%;
    height: 122%;
    display: block;
    position: absolute;
    top: 10%;
    left: -10%;
  }
}

* {
  /* outline: 1px solid red; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  --default-font-family: var(--font-sans);
  --default-font-size: 16px;
  --default-line-height: 1.5;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  width: 100%;
  height: 100%;
}

body::before {
  content: "";
  top: 0px;
  width: 100%;
  padding-top: 47.23%;
  position: fixed;
  background: url("/images/svg/header-blur.svg") center / cover no-repeat;
  z-index: -1;
}

body::after {
  content: "";
  bottom: 0px;
  width: 100%;
  padding-bottom: 30%;
  position: fixed;
  background: url("/images/svg/footer-blur.svg") center / cover no-repeat;
  z-index: -1;
}
